.wishlist_container {
  padding: 2% 4%;
}
.wishlist_products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
  row-gap: 40px;
}
.close_btn {
  border: 1px solid white;
  width: fit-content;
  position: relative;
  bottom: 210px;
  left: 200px;
  border-radius: 50%;
  padding: 3px;
  background-color: #b2aaa1;
}
.wishlist_products > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  text-align: center;
  cursor: pointer;
}
.wishlist_products > div > p {
  overflow: hidden;
  height: 20px;
  margin-top: 10px;
}

.wishlist_products > div > img {
   width: 100%;
    height: 215px;
}
.cart_btn {
  border-top: 1px solid #ebebeb;
  padding: 4%;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: black;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  /* Styles for tablets and phones */
  .wishlist_products {
    grid-template-columns: repeat(3, 1fr);
  }
  .wishlist_products > div > img {
    height: 200px;
  }
  .close_btn {
    bottom: 195px;
    left: 160px;
  }
}
@media screen and (max-width: 480px) {
  /* Styles for small mobile devices */
  .wishlist_products {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 40px;
  }
  .wishlist_products > div > img {
    height: 150px;
  }
  .close_btn {
    bottom: 145px;
    left: 125px;
  }
}
