.products_container {
  display: flex;
}
.sort_filter_container {
  display: flex;
  /* padding: 1%; */
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}
.sort_filter_container > div {
  padding: 0.8% 2%;
}
/* .products_container>div{
    border: 1px solid red;
} */

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 30px 2% 30px 0;
  gap: 40px;
  row-gap: 30px;
}
