.footer_section {
  padding: 30px 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  color: black;
  text-align: center;
  padding-top: 10px;
}
.footer_icon {
  width: 15%;
  margin-bottom: 20px;
}
.footer {
  padding: 40px 5%;
  background-color: #1c1c1c;
  color: white;
}
.footer_details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  row-gap: 30px;
}
.footer_detail_box {
  font-size: 0.8rem;

  line-height: 25px;
}
.footer_detail_box > .heading {
  color: yellow;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  /* Styles for tablets and phones */
  .footer_section {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer_details {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 480px) {
  /* Styles for small mobile devices */
  .footer_details {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer_section {
    display: block;
  }
  .footer {
    margin-bottom: 30px;
  }
}
