.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: bold;
  padding: 1% 5%;
  border-bottom: 1px solid #ebebeb;
}
.menu_icon,.search_icon {
  display: none;
}
.navbar_icon{
  font-size: 30px;
  cursor: pointer;
}
.search_input{
  width: 500px;
}
.navbar_menu{
  padding: 0% 5%;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-top: none;
}
.navbar_menu>div{
  padding: 10px 15px;
}
.navbar_menu>div:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* Styles for small mobile devices */
  .navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3% 4%;
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu_icon,.search_icon {
    display: block;
  }
  .search_bar,
  .account_icon,
  .cart_icon {
    display: none;
  }
  .menu_icon,
  .heart_icon,
  .search_icon {
    font-size: 25px;
  }
  .navbar_icon {
    gap: 12px;
  }
  .navbar_menu {
    display: none;
  }
}
@media  (min-width : 480px) and  ( max-width: 768px) {
  /* Styles for tablets and phones */
  .navbar {
    padding: 1% 2%;
  }
  .search_input{
    width: 350px;
  }
  .navbar_icon{
    font-size: 25px;
  }
  .account_icon,
  .cart_icon {
    display: none;
  }
  .menu_icon {
    display: block;
    font-size: 25px;
  }
  .logo {
    position: absolute;
    left: 17%;
    transform: translateX(-50%);
  }
}  