.nav_offers_bar {
  background-color: #1c1c1c;
  font-size: 0.8rem;
  color: yellow;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: black;
     font-weight: bold;
     padding: 1% 5%;
     border-bottom: 1px solid #ebebeb;
}
.navbar_menu{
  padding: 0% 5%;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-top: none;
}
.navbar_menu>div{
  padding: 10px 15px;
}
.navbar_menu>div:hover{
  background-color: black;
  color: white;
}
@media screen and (max-width: 480px) {     /* Styles for small mobile devices */
   .navbar_menu{
    display: none;
   }
}